/* ItemDetail.scss */
.ItemDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 900px; /* Ajusta el ancho máximo según necesites */
  margin: 0 auto; /* Centra el contenedor */

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &__img {
    border-radius: 5%;
    width: auto; /* Mantiene el ancho original de la imagen */
    max-width: 100%; /* Que no supere el ancho del contenedor */
    height: auto; /* Mantiene la proporción sin cortar */
    object-fit: contain; /* Evita que la imagen se corte */
  }
  &__footer {
    text-align: center;
  }
  &__link {
    text-decoration: none;
    color: #1d1d1d;
    color: var(--form-text);
    background-color: var(--background);
    font-family: inherit;
    font-size: inherit;
    margin-right: 6px;
    margin-bottom: 6px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    outline: none;
  }
  &__link:hover {
    text-decoration: none;
    background: var(--button-hover);
  }
}
