.cart {
  border: 2px solid #000;
  background-color: var(--border);
  border-radius: 9999px;
  cursor: pointer;
  height: 32px;
  padding: 4px;
  right: 75px;
  top: 8px;
  transition: all 0.3s ease;
  width: 32px;
  z-index: 9999;
  position: fixed;
  margin-top: 30px;


  &__img {
    margin-top: 5px;
    border-radius: 100%;
    height: 36px;
    width: 50px;
  }
}

.widgetTotal {
  border: 2px solid #000;
  font-weight: 600;
  color: black;
  display: block;
  background-color: var(--border);
  border-radius: 150px;
  padding: 5px;
  width: 18px;
  text-align: center;
  font-size: 14px;
  margin: -17px 0 0 16px;
  text-decoration: none;
}

.widgetTotal:hover {
  text-decoration: none;
}
