.navbar {
  width: 800px;
  height: 15vh;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;

  &__title {
    margin-right: 25px;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 2.5rem;
    text-decoration: none;
  }
  &__title:hover {
    text-decoration: none;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
  }

  &__links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
  }

  &__link {
    text-decoration: none;
    color: var(--form-text);
    background-color: #efefef;
    background-color: var(--background);
    font-family: inherit;
    font-size: inherit;
    margin-right: 6px;

    padding: 10px;
    border: none;
    border-radius: 6px;
    outline: none;
  }
  &__link:hover {
    text-decoration: none;
    background: var(--button-hover);
  }
}
